.header span{
  color: #999;
  text-align: center;
  
  }
  
  .header p{
  text-align: center;
  } 
  
  .mugShot {
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./images/Headshot.jpg");
  height: auto ;
  object-fit: scale-down;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  max-width: auto;
  margin: 2rem auto;
  object-fit: cover;

  transition: ease-out;
  }
  
  .mugShot:hover {
    transform: scale(1.15);
  
  }


  .pic-text {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 10rem;
  }
  
  nav {
    display: flex;
    flex-flow: row; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 2em;
    justify-content: center;
    background: aqua;
  }
  
  nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: rgb(8, 104, 67);
  }
  
  nav a:hover {
  background: rgb(130, 233, 161);
    transition-duration: 800ms;
  }

  @media screen and (max-width: 750px) {

    nav {
      display: flex;
      flex-flow: column;
    }
    nav a {
      display: none;
    }
    nav::before {
      content: 'SHOW NAV';
      color: rgb(12, 11, 11);
      background: aqua;
      font-weight: bold;
      padding: 0.5em 2em;
    }
    nav.open::before {
      content: 'HIDE NAV';
    }
    nav.open a {
      display: block;
    }
  
    nav ::selection {
      color: inherit;
      background: transparent;
    }
  }



  h1, h2, h3, h4 p {
  color: #555555;
  font-family: 'Lato', sans-serif;
  }
  
  #socio {
    text-align: center;
    padding: 3rem 0 0.5rem;
  }
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    justify-content: space-between; 
  }
  .fa-github {
    background: #000000;
    color: #ffffff;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  } 
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  



@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
#expBody, #div1,#div2, #expSection, #expArticle, h2, #expHdr, #expFtr{
  box-sizing: border-box;
  margin: 0px;
}


#projects article {
  background: azure;
  padding: 1em;
}

#projects article img{
  width: 100%;
  border: 1px solid #333;
  box-shadow: 0 0 8px 5px rgba(187, 190, 192, 0.664)
}

#projects button {
  display: none;
}


#expHdr {
  text-align:center; 
  color: #555555; 
}
#expHdr h2,h3 {
  font-weight: 200;
  color: rgba(0,0,0,.7);
  margin: 0px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
}


#expFtr {
  clear:both;
  padding: 24px;
}
#expFtr h4{
  font-size: 12px;
  color: rgba(0,0,0,.4);
}


#div1, #div2 {
  position:relative;
  min-height: 280px;
  width: 100%;
  background-color: aqua;
  background-image: -o-linear-gradient(45deg,#aa99cc 0%,#ffbbec 100%);
  border-radius: 15px;
  padding: 16px ;
  box-shadow: 0 10px 20px rgba(5, 6, 7, 0.4);
  transition: 0.3s ease-in-out;
}

#div1 li,
#div2 li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #000000;
  padding-left: .10rem;
}

#div1:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 20px rgba(169, 201, 255, .6);
}

#div2:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 20px rgba(169, 201, 255, .6);
}
#expSection h2{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}


@media only screen and (max-width: 750px) {
  #expHdr{
    display: flex;
    flex-flow: column;
    margin-top:24px;
    padding: 24px;
  }

  #expArticle{
    display: flex;
    flex-flow: column;
  }
  #expSection{  
    display: flex;
    flex-flow: column;
    width:100%;  
    padding: 12px;
    }
    #div1,#div2:hover{
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.904);
    }

    .image-carousel img {
      width: auto;
      position: relative;
    }
}

@media screen and (max-width: 40em){
  #projects {
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    width: 60vw;
    min-width: 22em;
    margin: 1em auto;
}

  #projects button {
    display: inline-block;
  }

  #projects article p {
    display: none;
  }

  #projects article.expanded p {
    display: block;
  }

  .image-carousel img {
    width: auto;
    position: relative;
  }
}

@media screen and (max-width: 25em){
  #projects {
    width: auto;
    min-width: unset;
  }

  .image-carousel img {
    width: auto;
    position: relative;
  }
}

.image-carousel img {
  width : 600px;
  height: 300px;
  border-style:solid;
  border-width:1px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align:center;
  
}

.image-carousel h2 {
  text-align: center;
 
 }

 .image-carousel img #slide {
   display: block;
   box-align: center;
 }



 .bioBtn {
  background: aqua;
  padding: .1em 2em;
  color: black;
  border:0;
}

.bioBtn:hover {
   background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0,0.5);
}

.modal-content {
  background-color: azure;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0,0.2),
  0 7px 20px 0 rgb(0, 0, 0,0.17);
  animation-name: modalopen;
  animation-duration: 3s;
}

.modal-header h2{
  margin: 0;
}

.modal-header{
  background: aquamarine;
  padding: 15px;
  color: #000000;
}

.modal-body{
  padding: 10px 20px;
}

.modal-footer{
  padding: 10px;
  text-align: center;
  background: aquamarine;
  text-emphasis-style: initial;
}

.closeBtn {
  color: #333;
  float: right;
  font-size: 1rem;

}

.closeBtn:hover,.closeBtn:focus{
  color:#000000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from{ opacity: 0}
  to {opacity: 1}
}

